@use '../abstracts/index' as *;

.certificate {
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  .certificate__data > * {
    margin-bottom: 1rem;
  }
  .image {
    min-width: 40%;
  }

  @include mobile(48rem) {
    flex-direction: row;
  }
}

.skills,
.earning-criteria,
.endorsements {
  margin-top: 2rem;
  h3 {
    margin-bottom: 1em;
  }
}

.skill-btns a {
  margin: 0.5em;
}
.insights {
  h3 {
    margin: 1em 0;
  }
}
