@use '../abstracts/index' as *;

.verification {
  background-color: $clr-dark-gray;
  width: 100%;
  max-height: max-content;
  margin-top: 0;
  padding: 1em 0;
}
.verification-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  @include mobile(48rem) {
    flex-direction: row;
  }

  .left {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    img {
      display: none;
      max-width: 5rem;
      border-radius: 100vw;
      margin-right: 1em;
      @include mobile(48rem) {
        display: block;
      }
    }
  }
}
