@use '../abstracts/index' as *;

nav {
  width: 100%;
  height: max-content;
  background-color: #fff;
  box-shadow: 1px 8px 27px 0px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 1px 8px 27px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 1px 8px 27px 0px rgba(0, 0, 0, 0.18);
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    .auth {
      display: flex;
      align-items: center;
      .btn {
        margin-left: 1.2rem;
      }
    }
  }
}
